<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yorozuya.awesomecs.repository.mapper.PostLikesMapper">

    <resultMap id="BaseResultMap" type="com.yorozuya.awesomecs.model.domain.PostLikes">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="postId" column="post_id" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,post_id,created_at
    </sql>

    <select id="selectPopularMapsPage" resultType="map">
        select
            post_likes.post_id as p_id,
            count(*) as p_count,
            posts.view_count as p_view_count
        from post_likes
                 left join posts on posts.id = post_likes.post_id and posts.status = 1
        group by post_likes.post_id, posts.view_count
        order by p_count desc, p_view_count desc
    </select>


</mapper>
